# Игнорировать всё по умолчанию
*

# Исключить из игнорирования необходимые файлы и директории
!.gitignore
!pom.xml
!src/**/module-info.java
!src/main/java/**/*
!src/main/resources/**/*

# Игнорировать временные файлы IDE и операционной системы
.idea/
*.iml
*.log
*.swp
*.DS_Store
*.out
*.bak
*.tmp

# Игнорировать скомпилированные файлы и артефакты сборки
target/
*.class
*.jar
*.war
*.ear
/.idea
.idea/workspace.xml
